*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.d1{
    width: 100%;
    height: 100vh;
}
.upper{
    height: 10vh;
    width: 100%;
    background-color: rgb(4, 255, 0);
}
.lower{
    width: 100%;
    height: 90vh;
    background-color:rgba(35, 206, 32, 0.705) ;
    display: flex;
   text-align: justify;
}
.left{
    width: 30%;
   
}
.right{
    width: 100%;
    
}