nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
   
}
.skill{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.nav-cont{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin: 0;
    padding: 0;
}
.Home{
    margin-right: 5px;
    text-decoration: none;

}
.list{
     list-style: none;

}
.job{
    text-decoration: none;
}
@media(min-width:768px){

}
