
.d1{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(123, 231, 14, 0.295);
}
.form-text{
    font-size: 8px;
    color: white;
}
.Title{
    font-size: 20px;
    color: white;
   
}
.form-label{
     font-size: 15px;
        color: white;
}
 @media (min-width:768px){
    .form-text{
        font-size: 15px;
        color: white;
    }
    .Title{
    font-size: 27px;
    color: white;
}
.form-label{
     font-size: 15px;
        color: white;
}


 }
  @media (min-width:1024px){
    .form-text{
        font-size: 20px;
        color: white;
    }
    .Title{
    font-size: 32px;
    color: white;
    
}
.form-label{
     font-size: 20px;
        color: white;
}
 }