.ulist {
    padding: 0;
    margin: 0 auto;
    max-width: 1024px; /* max width for larger screens */
}

.logo {
    width: 90%; /* responsive width */
    margin: 10px auto;
    padding: 15px;
    border-radius: 8px;
    list-style: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.logo img.image {
    width: 75px; /* default width */
    height: 75px;
    object-fit: contain;
    border-radius: 4px;
}
.job-details {
    display: flex;
    flex-wrap: wrap; /* allows items to move to next line if not enough space */
    gap: 10px; /* spacing between spans */
    margin-top: 5px;
}

.emp{
    color: red;
}
.location{
     color: red;
}
.rating{
     color: red;
}

/* Tablet (iPad 768px) */
@media (min-width: 376px) and (max-width: 768px) {
    .logo {
        width: 90%;
        padding: 12px;
    }
    .logo img.image {
        width: 60px;
        height: 60px;
    }
    .logo h1 {
        font-size: 18px;
    }
}

/* Desktop 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
    .logo {
        width: 85%;
        padding: 15px;
    }
    .logo img.image {
        width: 70px;
        height: 70px;
    }
    .logo h1 {
        font-size: 20px;
    }
}